body {
    font-family: Arial;
    background: #f4f6f9;
    margin: 0;
}

header {
    background: #0a1f44;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: #122c5f;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

section {
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

.course-grid {
    display: flex;
    gap: 20px;
}

.course-box {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    text-align: center;
}

.course-box a {
    display: inline-block;
    margin-top: 10px;
}

form input, form textarea {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background: #0a1f44;
    color: white;
    padding: 10px;
    border: none;
}
